@import "tailwindcss";

@theme {
  --color-wdcc-blue-100: #087DF1;
  --color-wdcc-blue-200: #085DD1;
  --color-wdcc-dark-blue: #03045E;
  --color-wdcc-purple: #7209B7;
  --color-wdcc-yellow: #FFD166;
  --color-wdcc-bg-dark: #183249;
  --color-wdcc-bg-light: #EFF8FA;

  --font-display: var(--font-montserrat), sans-serif;
}
